
article.node-lunch-box div.image {
  float: right;
  margin: 0 0 1em 1em;
}
div.meta-data {
  background-color: #f8f8f8;
  padding: 0.1em 1.5em;
  margin: 1em 0;
  clear: both;
}
div.meta-data h2 {
  font-size: 1em;
  margin; 0;
  display: inline;
  font-weight: bold;
  margin: 0;
  padding-right: 1em;
  line-height: 1.4em;
}

div.meta-data .field {
  margin: 0.5em 0;
}

article.node-article div.image {
  float: left;
  margin: 0 1em 1em 0;
}